<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyuchess.gameportal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.AnonymousLoginActivity"
            android:label="@string/title_activity_anonymous_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".authentication.EmailLoginActivity" />
        <activity android:name=".authentication.FacebookLoginActivity" />
        <activity android:name=".authentication.GooglePlusLoginActivity" />
        <activity android:name=".authentication.PhoneLoginActivity" />
        <activity android:name=".authentication.TwitterLoginActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".UsersActivity" />
        <activity android:name=".ChatsListActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".MatchActivity" />
        <activity android:name=".GroupActivity" />
        <activity android:name=".MatchesListActivity"></activity>
    </application>

</manifest>